<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Cine</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://m.media-amazon.com/images/M/MV5BZmYwYWYyOGEtZmZlYi00NWY1LWI0MmQtMDhhM2U2Y2UwNWI3XkEyXkFqcGdeQXVyMTIwNTIzNDcx._V1_FMjpg_UX1000_.jpg"
                    alt="Evil dead rise" class="img2">
                <tr>

                    <td>
                        <h1 class="mtittle2"> Evil Dead: El despertar</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> Evil Dead Rise</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> Duración: </dt>
                                <dd> 69 min.</dd>

                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Lee Cronin</dd>

                                <dt> Guion: </dt>
                                <dd> Lee Cronin</dd>

                                <dt> Música: </dt>
                                <dd> Stephen McKeon</dd>

                                <dt> Fotografía: </dt>
                                <dd> Dave Garbet</dd>

                                <dt> Reparto: </dt>
                                <dd> Alyssa Sutherland, Lily Sullivan, Morgan Davies, Nell Fisher, Gabrielle Echols,
                                    Jayden Daniels, Billy Reynolds-McCarthy, Tai Wano, Anna-Maree Thomas, Mirabai Pease,
                                    Richard Crouchley</dd>

                                <dt> Compañías: </dt>
                                <dd> Ghost House Pictures, New Line Cinema, Warner Bros., Wild Atlantic Pictures.
                                    Distribuidora: Warner Bros., Max</dd>

                                <dt> Género: </dt>
                                <dd> Terror. Fantástico | Posesiones/Exorcismos. Secuela</dd>

                                <dt> Sinopsis: </dt>
                                <dd> La historia de dos hermanas separadas cuya reunión se ve interrumpida por un
                                    levantamiento de demonios carnales, empujándolas a una batalla por la supervivencia
                                    mientras se enfrentan a la versión más aterradora de una familia imaginable. Secuela
                                    de la trilogía original de Evil Dead.</dd>
                            </dl>

                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40"
                alt="Boton atrás"></a>
    </div>
</body>

</html>