<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Cine</title>

</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://imgmedia.larepublica.pe/640x795/larepublica/migration/images/NWHA3HHUJVERJJR3I6IP3JZQGY.webp"
                    alt="John Wick 4" class="img2">
                <tr>

                    <td>
                        <h1 class="mtittle2"> John Wick 4</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> John Wick: Chapter 4</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> Duración: </dt>
                                <dd> 169 min.</dd>

                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Chad Stahelski</dd>

                                <dt> Guion: </dt>
                                <dd> Michael Finch, Shay Hatten. Personaje: Derek Kolstad</dd>

                                <dt> Música: </dt>
                                <dd> Tyler Bates, Joel J. Richard </dd>

                                <dt> Fotografía: </dt>
                                <dd> Dan Lautsen </dd>

                                <dt> Reparto: </dt>
                                <dd> Keanu Reeves, Donnie Yen, Bill Skarsgård,
                                    Ian McShane, Shamier Anderson, Rina Sawayama,
                                    Laurence Fishburne, Hiroyuki Sanada, Marko Zaror,
                                    Natalia Tena, Lance Reddick, Scott Adkins, Aimée Kwan</dd>

                                <dt> Compañías: </dt>
                                <dd> Lionsgate, Thunder Road Pictures, Summit Entertainment, 87Eleven Entertainment. 
                                    Distribuidora: Lionsgate</dd>

                                <dt> Género: </dt>
                                <dd> Acción. Thriller | Crimen. Secuela. Artes marciales </dd>

                                <dt> Sinopsis: </dt>
                                <dd> El marqués Vincent de Gramont tiene la intención de matar a John Wick para consolidar su poder en la Alta Orden. Sin embargo, 
                                    John intentará anticiparse a cada uno de sus movimientos
                                     hasta que se encuentre cara a cara con su peor enemigo.</dd>
                            </dl>

                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40"
                alt="Boton atrás"></a>
    </div>
</body>

</html>