<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://archivos-cms.cinecolombia.com/images/5/6/0/0/40065-4-esl-CO/44c1afd60fb0-smb_cineco_2-poster_480x670.jpg"
                    alt="Mario Bros" class="img2" >


     <tr>
        
     </tr>           
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Super Mario Bros. La película</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> The Spuer Mario Bros. Movie</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> Duración: </dt>
                                <dd> 92 min.</dd>
                                
                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Aaron Horvath, Michael Jelenic</dd>

                                <dt> Guion: </dt>
                                <dd> Matthew Fogel. Personajes: Shigeru Miyamoto.
                                     Videojuego: Nintendo, Shigeru Miyamoto</dd>

                                <dt> Música: </dt>
                                <dd> Kōji Kondō, Brian Tyler</dd>

                                <dt> Fotografía: </dt>
                                <dd> Animación</dd>

                                <dt> Reparto: </dt>
                                <dd> Animación, Voz: Chris Pratt, Anya Taylor-Joy, Charlie Day, Jack Black, Keegan-Michael Key, Seth Rogen, Fred Armisen, 
                                    Kevin Michael Richardson, Sebastian Maniscalco, Charles Martinet</dd>

                                <dt> Compañías: </dt>
                                <dd> Coproducción Estados Unidos-Japón; Illumination Entertainment, Nintendo,
                                     Universal Pictures. Distribuidora: Universal Pictures</dd>

                                <dt> Género: </dt>
                                <dd> Animación. Aventuras. Infantil. Fantástico. Comedia | Cine familiar. Videojuego</dd>

                                <dt> Sinopsis: </dt>
                                <dd> Trabajando en una grieta subterránea, los plomeros de Brooklyn Mario y su hermano Luigi viajan a través de una tubería misteriosa hacia un mundo nuevo y mágico. Pero con los hermanos separados, Mario debe embarcarse en una misión épica para encontrar a Luigi. Con la ayuda de un sapo
                                     hongo local y algunas habilidades de combate de la guerrera líder del Reino Champiñón, la Princesa Peach, Mario desata todo su poder.</dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>