<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://img1.ak.crunchyroll.com/i/spire3/e91cf0d557a9b203b6937038a4b1644b1652905568_main.png"
                    alt="suzume" class="img2" >

          
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Suzume</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> Suzume no Tojimari</dd>

                                <dt> Año: </dt>
                                <dd> 2022</dd>

                                <dt> Duración: </dt>
                                <dd> 122 min.</dd>

                                
                                <dt> País: </dt>
                                <dd> Japón</dd>

                                <dt> Dirección: </dt>
                                <dd> Makoto Shinkai</dd>

                                <dt> Guion: </dt>
                                <dd> Makoto Shinkai</dd>

                                <dt> Música: </dt>
                                <dd> Kazuma Jinnouchi, Radwimps</dd>

                                <dt> Fotografía: </dt>
                                <dd> Animación</dd>

                                <dt> Reparto: </dt>
                                <dd> Animación</dd>

                                <dt> Compañías: </dt>
                                <dd>  CoMix Wave Films, Story, Aniplex, Kadokawa, 
                                    Lawson Entertainment, Voque Ting. Distribuidora: Toho</dd>

                                <dt> Género: </dt>
                                <dd>Animación. Fantástico. Aventuras. Acción</dd>

                                <dt> Sinopsis: </dt>
                                <dd> Suzume, de 17 años, encuentra una puerta misteriosa en las montañas, y pronto comienzan a aparecer otras por todo Japón. Cuando las puertas se abren, desencadenan el desastre y la destrucción, y depende de Suzume cerrarlas de nuevo.</dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>