<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://pics.filmaffinity.com/Creed_III-358416025-large.jpg"
                    alt="Creed III" class="img2" >


     <tr>
        
     </tr>           
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Creed III</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> Creed III</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> Duración </dt>
                                <dd> 116 min</dd>

                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Michael B.Jordan</dd>

                                <dt> Guion: </dt>
                                <dd> Zach Baylin, Keenan Coogler. Historia: Ryan Coogler, Keenan Coogler</dd>

                                <dt> Música: </dt>
                                <dd> Joseph Shirley</dd>

                                <dt> Fotografía: </dt>
                                <dd> Kramer Morgenthau </dd>

                                <dt> Reparto: </dt>
                                <dd> Michael B. Jordan, Tessa Thompson, Jonathan Majors, Phylicia Rashad, 
                                    Mila Davis-Kent, Florian Munteanu, Selenis Leyva, Spence Moore II, Tony Bellew, Michelle Davidson, 
                                    Wood Harris, Thaddeus J. Mixson. Cameo: Saúl "Canelo" Alvarez</dd>

                                <dt> Compañías: </dt>
                                <dd> Metro-Goldwyn-Mayer (MGM), Warner Bros., Chartoff-Winkler Productions,
                                     New Line Cinema, Proximity, Glickmania. Distribuidora: Warner Bros.</dd>

                                <dt> Género: </dt>
                                <dd> Drama | Boxeo. Secuela</dd>

                                <dt> Sinopsis: </dt>
                                <dd>Aún dominando el mundo del boxeo, Adonis Creed está prosperando en su carrera y en su vida familiar, pero un amigo de la infancia y ex prodigio del boxeo resurge después de ser liberado de prisión 
                                    y está ansioso por demostrar que merece otra oportunidad.</dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>