<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://es.web.img2.acsta.net/pictures/23/02/27/09/45/5397156.jpg" alt="El exorcista del papa"
                    class="img2">

                <tr>

                    <td>
                        <h1 class="mtittle2"> El exorcista del papa</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> The Pope's Exorcist</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> Duración: </dt>
                                <dd> 103 min</dd>
                                
                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Julius Avery</dd>

                                <dt> Guion: </dt>
                                <dd> Evan Spiliotopoulos, Michael Petroni. Biografía sobre:
                                     Gabriele Amorth. Historia: R. Dean McCreary, Chester Hastings</dd>

                                <dt> Música: </dt>
                                <dd> Jed Kurzel </dd>

                                <dt> Fotografía: </dt>
                                <dd> Khalid Mohtaseb </dd>

                                <dt> Reparto: </dt>
                                <dd> Russell Crowe, Alex Essoe, Daniel Zovatto, Peter DeSouza-Feighoney, Franco Nero, Laurel Marsden, Cornell John, Bianca Bardoe, Ryan O'Grady, Santi Bayón, Paloma Bloyd, Alessandro Gruttadauria, River Hawkins, Jordi Collet, Carrie Munro, Marc Velasco, Edward Harper-Jones, Matthew Sim, Victor Solé, Tom Bonington,
                                     Andrea Dugoni, Laila Barwick, Gennaro Diana, Pablo Raybould</dd>

                                <dt> Compañías: </dt>
                                <dd> Screen Gems, 2.0 Entertainment, Jesus & Mary, Loyola Productions. Distribuidora: Screen Gems</dd>

                                <dt> Género: </dt>
                                <dd> Terror | Biográfico. Religión. Posesiones / Exorcismos. Años 80</dd>

                                <dt> Sinopsis: </dt>
                                <dd> Inspirado en los archivos reales del principal exorcista del Vaticano, el padre Gabriel Amorth (ganador del Oscar® Russell Crowe), El exorcista del Papa sigue a Amorth mientras investiga la espeluznante posesión de un niño y finalmente descubre una conspiración de siglos de antigüedad. Abrazó frenéticamente al Vaticano</dd>
                            </dl>

                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40"
                alt="Boton atrás"></a>
    </div>
</body>

</html>