<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://www.procinal.com/uploads/PELICULAS/Img_movies/Img_360x500/BLANCO%20FACIL1.jpg"
                    alt="Blanco fácil" class="img2" >
         
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Blanco fácil</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> La syndcaliste</dd>

                                <dt> Año: </dt>
                                <dd> 2022</dd>

                                <dt> Duración: </dt>
                                <dd> 122 min</dd>
                                
                                <dt> País: </dt>
                                <dd> Francia</dd>

                                <dt> Dirección: </dt>
                                <dd> Jean-Paul Salomé</dd>

                                <dt> Guion: </dt>
                                <dd> Fadette Drouard, Jean-Paul Salomé. Libro: Caroline Michel-Aguirre </dd>

                                <dt> Música: </dt>
                                <dd> Bruno Coulais</dd>

                                <dt> Fotografía: </dt>
                                <dd> Julien Hirsch </dd>

                                <dt> Reparto: </dt>
                                <dd> Isabelle Huppert, Alexandra Maria Lara, Benoît Magimel, Marina Foïs, Yvan Attal, Grégory Gadebois, Pierre Deladonchamps, François-Xavier Demaison, Gilles Cohen, Geno Lechner, Aloïse Sauvage, Yves Heck, Andréa Bescond, Antoine Basler, Radostina 
                                    Rogliano, Cedric Cirotteau, Clément Giren, Christian Skibinski</dd>

                                <dt> Compañías: </dt>
                                <dd> Heimatfilm, Le Bureau.
                                     Distribuidora: Le Pacte, Weltkino Filmverleih</dd>

                                <dt> Género: </dt>
                                <dd> Thriller. Drama | Política. Basado en hechos reales</dd>



                                <dt> Sinopsis: </dt>
                                <dd> La verdadera historia de Maureen Kearney, una importante representante sindical de una multinacional francesa de energía nuclear. Se convirtió en denunciante y denunció acuerdos de alto secreto que sacudieron la industria nuclear de Francia. Se enfrentó sola al mundo, luchando contra ministros del gobierno y líderes de la industria para sacar a la luz escándalos y defender más de 50.000
                                     puestos de trabajo. Su vida da un vuelco cuando es atacada violentamente en su propia casa...</dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>