<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://hips.hearstapps.com/vidthumb/images/microsoftteams-image-1-1676286267.png"
                    alt="Guardianes de la galaxia Vol.3" class="img2" >


     <tr>
        
     </tr>           
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Guardianes de la galaxia Vol. 3 </h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> Guardians of the Galaxy Vol. 3 </dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>
                                
                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> James Gunn </dd>

                                <dt> Guion: </dt>
                                <dd> James Gunn. Cómic: Dan Abnett, Andy Lanning </dd>

                                <dt> Música: </dt>
                                <dd> John Murphy </dd>

                                <dt> Fotografía: </dt>
                                <dd> Henry Braham </dd>

                                <dt> Reparto: </dt>
                                <dd> Chris Pratt, Zoe Saldana, Dave Bautista, Elizabeth Debicki, Pom Klementieff, Will Poulter,
                                     Karen Gillan, Sylvester Stallone, Sean Gunn, Daniela Melchior, Chukwudi Iwuji. Voz: Bradley Cooper, Vin Diesel</dd>

                                <dt> Compañías: </dt>
                                <dd> Marvel Studios, Marvel Entertainment. Distribuidora: Walt Disney </dd>

                                <dt> Género: </dt>
                                <dd> Ciencia ficción. Aventuras. Acción. Comedia | Superhéroes. Cómic. Marvel Comics. MCU. Secuela </dd>

                                <dt> Sinopsis: </dt>
                                <dd> Sigue a Star-Lord, todavía conmocionado por la pérdida de Gamora, que debe reunir a su equipo para defender el universo mientras protege a los suyos. La misión, si no se completa, podría llevar al final de los Guardianes tal como los conocemos.</dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>