<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_cine.css">
    <link rel="shortcut icon" href="./img/icon.png" type="img/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="cpanel">
        <table class="content-table">
            <tbody>

                <img width="200px" height="300px" align="right"
                    src="https://pics.filmaffinity.com/Fast_Furious_X-911161883-large.jpg"
                    alt="A todo gas 10" class="img2" >


     <tr>
        
     </tr>           
                <tr>
                    
                    <td>
                        <h1 class="mtittle2"> Rápidos y furiosos X</h1>
                        <div id="left-column">
                            <dl class="movie-info">
                                <dt> Titulo Original: </dt>
                                <dd> Fast X</dd>

                                <dt> Año: </dt>
                                <dd> 2023</dd>

                                <dt> País: </dt>
                                <dd> Estados Unidos</dd>

                                <dt> Dirección: </dt>
                                <dd> Louis Leterrier</dd>

                                <dt> Guion: </dt>
                                <dd> Justin Lin, Dan Mazeau. Personajes: Gary Scott Thompsons</dd>

                                <dt> Fotografía: </dt>
                                <dd> Stephen F.Windon </dd>

                                <dt> Reparto: </dt>
                                <dd> Vin Diesel, Jason Momoa, Michelle Rodriguez, Nathalie Emmanuel, Daniela Melchior,
                                     Sung Kang, Tyrese Gibson, Ludacris, Charlize Theron, Brie Larson, Alan Ritchson, Rita Moreno

                                </dd>

                                <dt> Compañías: </dt>
                                <dd> Original Film, One Race Films. Productor: Justin Lin. Distribuidora: Universal Pictures </dd>

                                <dt> Género: </dt>
                                <dd> Acción | Coches/Automovilismo. Secuela</dd>

                                <dt> Sinopsis: </dt>
                                <dd> Decima entrega de la franquicia </dd>
                            </dl>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="<?=base_url('/public/homeuser')?>"><img src="https://cdn-icons-png.flaticon.com/512/60/60789.png" height="33" width="40" alt="Boton atrás"></a>
    </div>
</body>

</html>